[Unit]
Description=SpaceTraders RS
After=network.target

[Service]
User=root
Group=root
ExecStart=/opt/spacetraders_rs/run 2>&1
Environment=RUST_LOG=info,spacetraders_rs=debug
Environment=RUST_BACKTRACE=1
WorkingDirectory=/opt/spacetraders_rs
Restart=always
RestartSec=15
StandardOutput=append:/opt/spacetraders_rs/run.log

[Install]
WantedBy=multi-user.target
